body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(to right,#2a04ec,#f90476);
}

.auth-box{
  max-width:420px;
  width:100%;
  background:#06edcb;
  padding:25px;
  border-radius:10px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.toggle{
  position:absolute;
  right:10px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  color:#0d6efd;
  font-size:13px;
}

.error{
  color:red;
  font-size:12px;
}
